body {
  margin: 0;
  padding: 0;
}

.container {
}

.nav {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  background-color: #cc0000;
  padding: 0;
  margin: 0;
}

.nav ul {
  /* border: 1px solid; */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.nav ul li {
  display: inline;
  padding: 5px;
  color: #fff;
}

.nav .links {
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  height: 80px;
  border: 2px solid red;
  font-size: 18px;
  font-weight: bold;
}

.header ul {
  padding-top: 5px;
}

.header li {
  display: inline;
  padding: 15px;
}

.header input {
  width: 30%;
  height: 25px;
  border-radius: 9px;
}
