body {
  margin: 0;
  padding: 0;
}

.container {
}

.nav {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  background-color: #cc0000;
  padding: 0;
  margin: 0;
}

.nav ul {
  /* border: 1px solid; */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.nav ul li {
  display: inline;
  padding: 5px;
  color: #fff;
}

.nav .links {
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
}

.header ul {
  padding-top: 5px;
  width: 100%;
  margin: 10px auto;
}

.header li {
  display: inline;
  padding: 25px;
}

.header input {
  width: 30%;
  height: 25px;
  border-radius: 9px;
}

.home-page {
  width: 60%;
  height: 1200px;
  margin: 0 auto;
  border: 2px solid black;
}

.home-page .image {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  background-color: lightgray;
}

.image img {
  width: 100%;
  height: 400px;
}

.home-page .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 200px;
}

.home-page .categories img {
  height: 100px;
  width: 100px;
}

.home-page .categories span {
  padding: 10px 30px;
}

.home-page .card {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 200px;
}
