body {
  margin: 0;
  padding: 0;
}

.container {
}

.nav {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  background-color: #cc0000;
  padding: 0;
  margin: 0;
}

.nav ul {
  /* border: 1px solid; */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.nav ul li {
  display: inline;
  padding: 5px;
  color: #fff;
}

.nav .links {
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
}

.header ul {
  padding-top: 5px;
  width: 100%;
  margin: 10px auto;
}

.header li {
  display: inline;
  padding: 25px;
}

.header input {
  width: 30%;
  height: 25px;
  border-radius: 9px;
}

.home-page {
  width: 60%;
  height: 1500px;
  margin: 0 auto;
  border: 2px solid black;
}

.home-page .image {
  margin: 0 auto;
  height: 600px;
  width: 100%;
  background-color: #90e4c1;
}

.image img {
  width: 100%;
  height: 500px;
}

.home-page .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 250px;
}

.home-page .categories img {
  /* border: 2px solid; */
  padding: 5px;
  height: 115px;
  width: 115px;
}

.home-page .categories div {
  /* border: 2px solid green; */
}

.home-page .categories span {
  padding: 5px;
  display: inline-block;
  width: 65%; /* Now you can set the width */
  text-align: center;
}

.home-page .image {
  padding-top: 10px;
  text-align: center;
}

.home-page .card {
  background-color: #90e4c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 400px;
  border: 2px solid red;
}

.home-page .card .item {
  /* margin-top: 10px; */
  /* border: 2px solid blue; */
  height: 300px;
  width: 200px;
  border-radius: 12px;
}

.home-page .card .card-1 {
  background-image: url(pictures/wish-list.jpeg);
  background-position: center;
  background-size: cover;
}

.home-page .card .box {
  /* border: 2px solid black; */
  height: 400px;
}

.home-page .card .box div {
  margin-top: 20px;
}
